body {
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}
table {
    border-collapse: collapse;
    font-size: 18px;
}
tr:nth-child(odd) {
    background-color: #F0F0F0;
}
td {
    text-align: right;
}
th {
    color: white;
    background-color: #333;
}
td, th {
    border: 1px solid black;
    padding: 5px 15px;
}
th > img {
    height: 25px;
    vertical-align: middle;
}
.bold {
    font-weight: bold;
}
.indented {
    margin-left: 25px;
}
#item-list {
    display: none;
    width: 95%;
    max-width: 800px;
}
.sortArrowVisible {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.sortArrowGone {
    opacity: 0.25;
    filter: alpha(opacity=25); /* For IE8 and earlier */
}
.sortArrowUp {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sortArrowDown {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.arrow-transform {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  height: 15px;
}
.full-page-loading-spinner-container {
    height: 100%;
    width: 100%;
    background-color: rgba(1,1,1,.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}
.loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading-spinner 2s linear infinite;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@keyframes loading-spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: white;
}
.topnav .active {
    background-color: #b90000;
    color: white;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 17px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropbtn img {
  height: 10px;
  width: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content div {
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}
.th-dropdown:hover .th-dropbtn {
  background-color: transparent;
}
.th-dropdown .th-dropbtn {
  font-weight: bold;
  font-size: 18px;
  padding: 5px 15px;
  width: 140px;
}
.main-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content-container > * {
    margin: 10px;
}
.notification {
    color: red;
}
.item-row {
    text-align: center;
}
.row-name {
    text-align: left;
}
.quantity {
    color: grey;
    font-size: 80%;
}
.currency {
    height:13px;
}
.selected-filter {
    text-decoration: underline;
}
.item-icon {
    height: 30px;
}
.item-name {
    margin-left: 5px;
}
.item-icon-container {
    display: flex;
    align-items: center;
}
.search-result-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-results-section {
    display: none;
    margin: 10px;
    border: 2px solid black;
    max-height: 300px;
    width: 95%;
    max-width: 600px;
    overflow-y: scroll;
    padding: 10px;
}
.bordered-item {
    max-width: 34px;
    max-height: 34px;
}
.delete-item img {
    margin: 5px;
}
.Junk {
    border: 2px solid #AAA;
}
.Basic {
    border: 2px solid white;
}
.Fine {
    border: 2px solid #62A4DA;
}
.Masterwork {
    border: 2px solid #1a9306;
}
.Rare {
    border: 2px solid #fcd00b;
}
.Exotic {
    border: 2px solid #ffa405;
}
.Ascended {
    border: 2px solid #fb3e8d;
}
.Legendary {
    border: 2px solid #4C139D;
}
.timerButton {
    font-size: 50px;
    padding: 25px;
    margin: 25px;
}
.timerOrbValueText {
    width: 100px;
}
#timerMainContent {
    margin-top: 8px;
    width: 100%;
    text-align: center;
}
#timerTime {
    font-size: 75px;
}
#timerInfo {
    font-size: 100px;
}
#timerOptions {
    width: 200px;
    margin: auto;
    text-align: left;
}
.homeMainContent {
    margin: 8px;
}
.informationParagraph {
    font-size: 50px;
    margin: 25px;
}
.tier-column {
    min-width: 100px;
}
.type-column {
    min-width: 100px;
}
.items-column {
    font-weight: normal;
}
.adjusted-totals-column {
    min-width: 150px;
}
.shipment-item-cell {
    padding: 10px 5px;
    min-width: 90px;
    border: 1px solid black;
}
.shipment-item-name {
    height: 65px;
}
.shipment-item-multiplier {
    font-size: 14px;
    height: 20px;
}
.shipment-item-value {
    font-size: 18px;
    font-weight: bold;
    height: 20px;
}
.options-expander-wrapper {
    text-align: center;
    font-weight: bold;
}
.options-expander {
    cursor: pointer;
}
.upgradeElement {
    width: 40px;
}
.upgradeRow {
    text-align: center;
}
.upgradeRow .material-image {
    height: 35px;
    width: 35px;
    margin: auto;
}
.multiplied-image {
    display: flex;
}
.multiplied-image span {
    align-self: center;
}
.negative-currency {
    color: red;
}
.force-right {
    padding-right: 0;
    margin-right: 0;
    text-align: right;
}
.force-left {
    padding-left: 0;
    margin-left: 0;
    text-align: left;
}
.centered-section {
    overflow-x: auto;
}
.centered-content {
    margin: auto;
    text-align: center;
}
.left-selectors {
    width: 300px;
    position: fixed;
    left: 0;
    margin-top: 38px;
    padding-left: 8px;
    background-color: white;
}
.right-content {
    margin-top: 10px;
    margin-left: 300px;
}
.header-title {
    font-size: 35px;
    background-color: #111;
}
#left-selector-expander {
    position: fixed;
    left: 250px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}
